/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-image: url(pebble.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    }

.fixed {
  background: url(pebble.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  position:fixed;
  top:0px;
  margin:auto;
  z-index:100000;
  width:100%;
}

.right_content {
  margin-top: 120px;
  min-height: 700px;
  padding: 10px 30px 20px 30px;
  background: #5DA3A6;
  opacity: 0.95;
  border-radius: 20px;
}

.left_content {
  margin-top: 467px;
  width: 300px;
  position:fixed;
  background: -webkit-radial-gradient(#5DA3A6, #4A6989); /* For Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#5DA3A6, #4A6989); /* For Opera 11.1 to 12.0 */
  background: -moz-radial-gradient(#5DA3A6, #4A6989); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#5DA3A6, #4A6989); /* Standard syntax */
  opacity: 0.95;
  border-radius: 0px 0px 20px 20px;
  padding: 10px 30px 10px 10px;
}

.img {
  margin-top: 120px;
  position:fixed;
  border-radius: 20px 20px 0px 0px;
}

.font {
  font-family: 'Arvo', serif;
  text-align: justify;
  }

p {
    font-size: 16px;
}

a:link {color: #111057;}
a:visited {color: #111057;}
a:hover {color: #111057;}
a:active {color: #111057;}

.popover {
  min-width: 590px;
}
