<div class="page-header">
  <ul class="nav nav-pills pull-right">
    <li class="active">
      <%= link_to 'Back', jobs_path %>
    </li>
    <li class="active">
      <%= link_to "Home", root_path %>
    </li>
  </ul>
  <h1>New Job</h1>
</div>


<%= render 'form' %>
</br>
<ul class="nav nav-pills pull-left">
  <li class="active">
    <%= link_to 'Cancel', jobs_path %>
  </li>
</ul>
